<div class="debug">
  <pre>{{form.value | json}}</pre>

</div>
<form [formGroup]="form"
      [class.submitted]="submitted"
      (ngSubmit)="onSubmit()">
  <fieldset formGroupName="identity">
    <legend>Identité</legend>
    <app-field label="Prénom">
      <input type="text" formControlName="firstname">
    </app-field>
    <app-field label="Nom*">
      <input type="text" formControlName="lastname">
    </app-field>
    <app-field label="Email*">
      <input type="email" formControlName="email">
    </app-field>
    <app-field label="Téléphone">
      <input type="tel" formControlName="phone">
    </app-field>
  </fieldset>

  <fieldset formGroupName="shipping">
    <legend>Adresse de livraison</legend>
    <app-field label="N° de rue">
      <input type="text" formControlName="street">
    </app-field>
    <app-field label="Code postal*">
      <input type="text" formControlName="zipcode">
    </app-field>
    <app-field label="Ville*">
      <input type="text" formControlName="city">
    </app-field>
    <app-field label="Pays">
      <input type="text" formControlName="country">
    </app-field>
  </fieldset>

  <p>
    <label>
      <input type="checkbox" formControlName="hasBillingAddress" (change)="toggleBillingAddress()">
      Adresse de facturation différente
    </label>
  </p>

  <fieldset formGroupName="billing" *ngIf="withBillingAddress()">
    <legend>Adresse de facturation</legend>
    <app-field label="N° de rue">
      <input type="text" formControlName="street">
    </app-field>
    <app-field label="Code postal*">
      <input type="text" formControlName="zipcode">
    </app-field>
    <app-field label="Ville*">
      <input type="text" formControlName="city">
    </app-field>
    <app-field label="Pays">
      <input type="text" formControlName="country">
    </app-field>
  </fieldset>

  <p>
    <button type="submit"
    [disabled]="isDisabled()">Envoyer</button>
  </p>
</form>

